﻿@model Models.Fund.Menu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.menuName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.menuName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.menuLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.menuLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.menuOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.menuOrder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.actionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.controllerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.controllerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.iconName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iconName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.menuId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
