﻿@model Models.Fund.Menu


@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper settt(){
}
<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Menu</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.menuId)

        <div class="row">
            <div class="form-group col-md-10">
                <div class="input-group">
                    <div class="input-group-prepend">
                        @Html.LabelFor(model => model.menuName, htmlAttributes: new { @class = "input-group-text" })
                    </div>
                    @Html.EditorFor(model => model.menuName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.ValidationMessageFor(model => model.menuName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-5">
                <div class="input-group">
                    <div class="input-group-prepend">
                        @Html.LabelFor(model => model.menuLevel, htmlAttributes: new { @class = "input-group-text" })
                    </div>
                    @Html.EditorFor(model => model.menuLevel, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.ValidationMessageFor(model => model.menuLevel, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-5">
                <div class="input-group">
                    <div class="input-group-prepend">
                        @Html.LabelFor(model => model.actionName, htmlAttributes: new { @class = "input-group-text" })
                    </div>
                    @Html.EditorFor(model => model.actionName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.ValidationMessageFor(model => model.actionName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-5">
                <div class="input-group">
                    <div class="input-group-prepend">
                        @Html.LabelFor(model => model.menuOrder, htmlAttributes: new { @class = "input-group-text" })
                    </div>
                    @Html.EditorFor(model => model.menuOrder, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.ValidationMessageFor(model => model.menuOrder, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-5">
                <div class="input-group">
                    <div class="input-group-prepend">
                        @Html.LabelFor(model => model.controllerName, htmlAttributes: new { @class = "input-group-text" })
                    </div>
                    @Html.EditorFor(model => model.controllerName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.ValidationMessageFor(model => model.controllerName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-5">
                <div class="input-group">
                    <div class="input-group-prepend">
                        @Html.LabelFor(model => model.iconName, htmlAttributes: new { @class = "input-group-text" })
                    </div>
                    @Html.EditorFor(model => model.iconName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.ValidationMessageFor(model => model.iconName, "", new { @class = "text-danger" })
            </div>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Another action</button>
                    <button class="dropdown-item" type="button">Something else here</button>
                </div>
            </div>

            <div class="form-group col-md-12">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-secondary" />
                </div>
            </div>

        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
