﻿@model IEnumerable<Models.Fund.Menu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="input-group">
    <label>Arrange menu</label>
    <div id="toggleBtn" class="toggle-btn">
        <div class="inner-circle"></div>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class="btn btn-success"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.menuName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.menuLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.menuOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.actionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.controllerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iconName)
        </th>
        <th>
            Parent Menu Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.menuName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.menuLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.menuOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.actionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.controllerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.iconName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.parentMenu.menuName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.menuId }) |
                @Html.ActionLink("Details", "Details", new { id = item.menuId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.menuId })
            </td>
        </tr>
    }

</table>


@section Script{
    <script>
        $(document).ready(function () {
            var sortNav = new Sortable($('#sidebarList')[0], {
                animation: 150,
                ghostClass: 'tempClass',
                sort:false
            });

            $('#toggleBtn').click(function () {
                this.classList.toggle('active');
                sortNav.options.sort = this.classList.contains('active');
            });
        });
    </script>
}
