﻿@model Models.Fund.ST001

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ST001</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.stCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.stId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
