﻿@model IEnumerable<Models.Fund.ST001>

@{
    ViewBag.Title = "Setting Index";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Create New", "Create", null, new { @class="btn btn-success"})
@using (Html.BeginForm("search", "ST001"))
{

    <div class="input-group mb-3">
        <input id="searchString" name="searchString" type="text" class="form-control" placeholder="Search for...">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Go!</button>
        </div>
    </div>
}


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.stCode)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.stName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CreateDateTime)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.LastModifyTime)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.stCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModifyTime)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.stId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.stId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.stId })
                </td>
            </tr>
        }
    </tbody>
</table>
