﻿@using Models.Fund;
@model IEnumerable<WebApplication1.Models.MenuViewModel>

<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Bootstrap Sidebar</h3>
    </div>

    <ul id="sidebarList" class="list-unstyled">
        @Html.SidebarMenuActionLink("Dashboard", "Index", "Home", "bar-chart-2")
        <li class="sidebar-heading">
            <span>Dummy Heading</span>
        </li>
        <li class="sidebar-menu">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" level="2">
                <span>
                    <i class="fas fa-home"></i>
                </span>
                Home
            </a>
            <ul id="homeSubmenu" class="collapse list-unstyled" data-parent="#sidebar">
                <li><a href="#">Home 1</a></li>
                <li><a href="#">Home 2</a></li>
                <li><a href="#">Home 3</a></li>
            </ul>
        </li>
        <li class="sidebar-menu">
            <a href="#">
                <span>
                    <i class="fas fa-briefcase"></i>
                </span>
                About
            </a>
        </li>
        <li class="sidebar-menu">
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" level="2">
                <span>
                    <i class="fas fa-copy"></i>
                </span>
                Pages
            </a>
            <ul id="pageSubmenu" class="collapse list-unstyled" data-parent="#sidebar">
                <li>
                    <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Page 1</a>
                    <ul id="pageSubmenu1" class="collapse list-unstyled" data-parent="#pageSubmenu">
                        <li><a href="#">P 1</a></li>
                        <li><a href="#">P 2</a></li>
                    </ul>
                </li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
        </li>
        <li class="sidebar-menu">
            <a href="#">
                <span>
                    <i class="fas fa-user-edit"></i>
                </span>
                Portfolio
            </a>
        </li>
        <li class="sidebar-menu">
            <a href="#">
                <span>
                    <i class="fas fa-paper-plane"></i>
                </span>
                Contact
            </a>
        </li>
        @Html.SidebarHeading("Menu")
        @Html.SidebarMenuActionLink("Menu", "Index", "Menu", "sidebar")
        @Html.SidebarHeading("Setting")
        @Html.SidebarMenuActionLink("Setting", "Index", "ST001", "fas fa-cog")

        @*@foreach (var group in Model.GroupBy(m => m.firstOrder)) {
            foreach (var subGroup in group.GroupBy(m => m.secondOrder)) {
                @Html.SidebarMenuActionLink(subGroup);
            }
        }*@
        @*@Html.GenerateMenu(Model);*@
        @*@Html.GenerateMenu(Model.First());*@
    </ul>
</nav>