﻿/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    DRAGABLE LIST
----------------------------------------------------- */

ul.moveable {
    list-style: none;
    margin: 0px;
}

    ul.moveable li {
        list-style-image: none;
        margin: 10px;
        border: 1px solid #ccc;
        padding: 4px;
        border-radius: 4px;
        color: #666;
        cursor: move;
    }

        ul.moveable li.tempClass {
            border: 1px dashed #ccc;
            background-color: #eee;
        }

/* ---------------------------------------------------
    TOGGLE BUTTON
----------------------------------------------------- */

.toggle-btn {
    width: 40px;
    height: 20px;
    background: gray;
    border-radius: 30px;
    box-sizing: content-box;
    padding: 2px;
    transition: all 300ms ease-in-out;
}

    .toggle-btn > .inner-circle {
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 50%;
        transition: all 300ms ease-in-out;
    }

    .toggle-btn.active {
        background: #00acee;
    }

        .toggle-btn.active > .inner-circle {
            margin-left: 20px;
        }

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 180px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #323232;
    color: #fff;
    transition: all 0.3s;
}

    #sidebar.active {
        margin-left: -180px;
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: #323232;
    }

.sidebar-heading {
    color: #5f5f5f;
    padding: 0px 10px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.sidebar-menu {
    min-height: 32px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
}

    .sidebar-menu span {
        margin-left: 10px;
        width: 32px;
        text-align: center;
    }

    .sidebar-menu a {
        color: #b5b5b5;
        display: flex;
        align-items: center;
        line-height: normal;
        flex: 1 1 auto;
    }

    .sidebar-menu ul {
        background: #5a5a5a;
        border-radius: 0 0 8px 8px;
        margin-right: 5px;
    }

    .sidebar-menu li a {
        padding-left: 40px !important;
    }

    .sidebar-menu .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }


#sidebar ul li a:hover {
    color: #fff;
}

#sidebar ul li.active > a {
    color: #fff;
    background: #494949;
    opacity: 1;
    border-radius: 8px;
    margin-right: 5px;
}

a[aria-expanded="true"][level="2"]{
    color: #fff;
    background: #494949;
    opacity: 1;
    border-radius: 8px 8px 0 0;
    margin-right: 5px;
}

a[data-toggle="collapse"] {
    position: relative;
}


#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

    #sidebarCollapse span {
        width: 80%;
        height: 2px;
        margin: 0 auto;
        display: block;
        background: #555;
        transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    }

        #sidebarCollapse span:first-of-type {
            /* rotate first one */
            transform: rotate(45deg) translate(2px, 2px);
        }

        #sidebarCollapse span:nth-of-type(2) {
            /* second one is not visible */
            opacity: 0;
        }

        #sidebarCollapse span:last-of-type {
            /* rotate third one */
            transform: rotate(-45deg) translate(1px, -1px);
        }

    #sidebarCollapse.active span {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 180px);
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

    #content.active {
        width: 100%;
    }

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -180px;
    }

        #sidebar.active {
            margin-left: 0;
        }

    #content {
        width: 100%;
    }

        #content.active {
            width: calc(100% - 180px);
        }

    /* Reversing the behavior of the bars: 
       Removing the rotation from the first,
       last bars and reappear the second bar on default state, 
       and giving them a vertical margin */
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    /* Removing the vertical margin and make the first and last bars rotate again when the sidebar is open, hiding the second bar */
    #sidebarCollapse.active span {
        margin: 0 auto;
    }

        #sidebarCollapse.active span:first-of-type {
            transform: rotate(45deg) translate(2px, 2px);
        }

        #sidebarCollapse.active span:nth-of-type(2) {
            opacity: 0;
        }

        #sidebarCollapse.active span:last-of-type {
            transform: rotate(-45deg) translate(1px, -1px);
        }
}
