﻿@model Models.Fund.MenuItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MenuItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.actionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.controllerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.controllerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.menuName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.menuName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iconName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iconName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.leftIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leftIndex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rightIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rightIndex)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.menuId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
