﻿@model IEnumerable<Models.Fund.MenuItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.actionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.controllerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.menuName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iconName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.leftIndex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rightIndex)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.actionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.controllerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.menuName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iconName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.leftIndex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rightIndex)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.menuId }) |
            @Html.ActionLink("Details", "Details", new { id=item.menuId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.menuId })
        </td>
    </tr>
}

</table>
