﻿
@{
    ViewBag.Title = "Home Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
Hellow Wellcom!

<div>
    <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="badge badge-info">bootstrap-sidebar</a>
    <a href="https://www.youtube.com/watch?v=ZZoA3MjgASQ" class="badge badge-info">toggle-btn</a>
</div>

<hr />

<ul id="simpleList" class="moveable">
    <li>Item1</li>
    <li>Item2</li>
    <li>Item3</li>
    <li>Item4</li>
    <li>Item5</li>
    <li>Item6</li>
    <li>Item7</li>
</ul>   

<hr />


@for (int i = 1; i < 16; i++) {
    <div class="row">
        <div class="col-sm-4">
            <h3>Column 1</h3>
            <p>Lorem ipsum dolor..</p>
            <p>Ut enim ad..</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 2</h3>
            <p>Lorem ipsum dolor..</p>
            <p>Ut enim ad..</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 3</h3>
            <p>Lorem ipsum dolor..</p>
            <p>Ut enim ad..</p>
        </div>
    </div>
}

@section Script{
    <script>
        $(document).ready(function () {
            var simpleList = document.getElementById('simpleList')
            var sortList = new Sortable(simpleList, {
                animation: 150,
                ghostClass: 'tempClass',
                sort:true
            });

            
            
        });
    </script>
}

